.row > div {
    padding: 20px;
    margin: 20px;
    background-color:  #FFEBFC;
    border: 2px #E856A5 solid;
}

input + input {
    margin: 20px;
    margin-left : 0px;
    display: block;
}

ul[class="todo-list"] {
    list-style-image: url('list-style.png');
}

li:target {
    text-decoration-style: line-through;
}
